* {
background-color: #1F2937;
}
ul{
    list-style-type:none;
}
img{
border-radius: 25px;
}
    
#logo{
    color:#f9faf8;
    font-size: 30px;
}
#Hero_main{
margin-top: 40px;
margin-bottom: -10px;
color: #f9faf8;
font-size: 48px;
}
#button{
display: flex;
justify-content: center;
background-color: #3882f6;
height: auto;
width: 65px;
font-size: 15px;
border-style: solid;
border-radius: 20px;
border-width: 5px;
border-color: #3882f6;
margin-bottom: 100px;
}
.container{
margin-left: 100px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: space-between;
}
.line_container{
font-family: Arial, Helvetica, sans-serif;
color: #e5e7eb;
font-size: 18px;
display: flex;
gap: 100px;
margin-right: 200px;
}
.desc{
margin-top: -20px;
font-size: 18px;
color: #e5e7eb;
margin-left: 100px;
font-family: Arial, Helvetica, sans-serif;

}



