
ul{
    list-style-type:none;
}
img{
width:200px;
height: auto;
border-radius: 25px;
border-style: solid;
border-color: #3882f6;

}
    
#logo{
border-color: #1F2937;
width:100px;
height: auto;
color: gray;
}
#Hero_main{
margin-top: 40px;
margin-bottom: -10px;
color: #f9faf8;
font-size: 48px;
}
#zeus{
    font-size: 18px;
    font-weight: bold;
    margin-left: 550px;
    margin-top: 50px;
}
#button{
display: flex;
justify-content: center;
background-color: #3882f6;
height: auto;
width: 65px;
font-size: 15px;
border-style: solid;
border-radius: 20px;
border-width: 5px;
border-color: #3882f6;
margin-bottom: 100px;
}
#header{
font-weight: bolder;
font-size: 36px;
}
.color1{
border-color: #1F2937;
padding: 20px;
background-color: #1F2937;
}
.container{
margin-left: 100px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: space-between;
}
.line_container{
font-family: Arial, Helvetica, sans-serif;
color: #e5e7eb;
font-size: 18px;
display: flex;
gap: 100px;
margin-right: 200px;
}
.desc{
width: 700px;
margin-top: -20px;
font-size: 18px;
color: #e5e7eb;
margin-left: 100px;
font-family: Arial, Helvetica, sans-serif;
}
.info{
color: #1F2937;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
}
.img_container{
margin-top: 25px;
display: flex;
justify-content: space-between;
justify-content: center;
gap: 70px;
margin-bottom: 200px;
}
.text{
align-content: center;
width: 200px;
flex-wrap: wrap;
font-weight: bold; 
}
.images{
align-items: center;
justify-content: center;
}
.quote{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.inner{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 720px;
}
.call_container{
height: 300px;
background-color: #f9faf8;
display: flex;
justify-content: center;
align-items: center;
}
.call{
font-size: 18px;
background-color: #3882f6;
color: #f9faf8;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
border-style: solid;
border-color: #3882f6;
padding: 65px;
width: 700px;
height: 15px;
border-radius: 25px;
align-items: center;
}
#call_text{
align-items: center;
font-size: 15px;
font-weight: lighter;
margin-top: 10px;
display: flex;
justify-content: space-between;
}
.button_container{
display: flex;
border-style: solid;
border-color: #f9faf8;
padding: 15px;
border-radius: 25px;
height: 6px;
justify-content: center;
align-items: center;
}


#call_button{
font-weight: bold;
font-size: 16px ;
}


.footer{
flex-direction: column;
padding: 25px;
display: flex;
justify-content: center;
color: #e5e7eb;   
background-color: #1F2937;
    }